[submodule "config/zsh/oh-my-zsh"]
	path = config/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "config/zsh/oh-my-zsh-custom/themes/powerlevel9k"]
	path = config/zsh/oh-my-zsh-custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "applications/gitlist"]
	path = applications/gitlist
	url = https://github.com/klaussilveira/gitlist.git
