[submodule "config/neovim/plugged/editorconfig-vim"]
	path = config/neovim/plugged/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "config/neovim/plugged/lightline.vim"]
	path = config/neovim/plugged/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "config/neovim/plugged/nerdtree"]
	path = config/neovim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "config/neovim/plugged/powerline"]
	path = config/neovim/plugged/powerline
	url = https://github.com/powerline/powerline.git
[submodule "config/neovim/plugged/vim-airline"]
	path = config/neovim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "config/neovim/plugged/vim-airline-themes"]
	path = config/neovim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "config/neovim/plugged/vim-es6"]
	path = config/neovim/plugged/vim-es6
	url = https://github.com/isRuslan/vim-es6.git
[submodule "config/neovim/plugged/vim-sensible"]
	path = config/neovim/plugged/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "config/home/.nvm"]
	path = config/home/.nvm
	url = https://github.com/creationix/nvm.git
[submodule "config/zsh/oh-my-zsh"]
	path = config/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "config/zsh/oh-my-zsh-custom/themes/powerlevel9k"]
	path = config/zsh/oh-my-zsh-custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "config/neovim/plugged/vimproc.vim"]
	path = config/neovim/plugged/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "config/neovim/plugged/denite.nvim"]
	path = config/neovim/plugged/denite.nvim
	url = https://github.com/Shougo/denite.nvim.git
[submodule "config/neovim/plugged/deoplete.nvim"]
	path = config/neovim/plugged/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "config/neovim/plugged/phpcd.vim"]
	path = config/neovim/plugged/phpcd.vim
	url = https://github.com/lvht/phpcd.vim.git
[submodule "config/neovim/plugged/tagbar"]
	path = config/neovim/plugged/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "config/neovim/plugged/tern_for_vim"]
	path = config/neovim/plugged/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "config/neovim/plugged/syntastic"]
	path = config/neovim/plugged/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "applications/gitlist"]
	path = applications/gitlist
	url = https://github.com/klaussilveira/gitlist.git
[submodule "config/neovim/plugged/typescript-vim"]
	path = config/neovim/plugged/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "config/neovim/plugged/tsuquyomi"]
	path = config/neovim/plugged/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "config/neovim/plugged/vim-nerdtree-tabs"]
	path = config/neovim/plugged/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "config/neovim/plugged/split-term.vim"]
	path = config/neovim/plugged/split-term.vim
	url = https://github.com/vimlab/split-term.vim.git
[submodule "config/neovim/plugged/vim-polyglot"]
	path = config/neovim/plugged/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "config/neovim/plugged/vim-jinja"]
	path = config/neovim/plugged/vim-jinja
	url = https://github.com/niftylettuce/vim-jinja.git
[submodule "config/neovim/plugged/neovim-fuzzy"]
	path = config/neovim/plugged/neovim-fuzzy
	url = https://github.com/cloudhead/neovim-fuzzy.git
[submodule "config/neovim/plugged/vim-prettier"]
	path = config/neovim/plugged/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "config/neovim/plugged/ctrlsf.vim"]
	path = config/neovim/plugged/ctrlsf.vim
	url = https://github.com/dyng/ctrlsf.vim
[submodule "config/neovim/plugged/ctrlp.vim"]
	path = config/neovim/plugged/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "config/neovim/plugged/vim-better-whitespace"]
	path = config/neovim/plugged/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
